adbc_driver_manager==1.5.0
adbc_driver_postgresql==1.5.0
adbc_driver_sqlite==1.5.0
ads==0.12.7
aerospike_vector_search==4.0.0
ain==0.0.2
aiodns==3.2.0
airbyte_cdk==6.38.1
aleph_alpha_client==10.0.0
alibabacloud_ha3engine_vector==1.1.13
alibabacloud_tea_util==0.3.13
anywidget==0.9.15
apify_client==1.9.2
AppKit==0.2.8
arango==0.2.1
arcgis==2.4.0
argilla==2.7.0
arize==7.36.0
arthurai==3.33.3
astrapy==1.5.2
async_timeout==5.0.1
atheris==2.3.0
atlassian==0.0.0
authlib==1.5.1
azureml==0.2.7
baidubce==0.8.3
banana_dev==6.3.0
bibtexparser==1.4.3
bigdl==2.4.0
bilibili_api==9.1.0
blobfile==3.0.0
bokeh==3.6.3
boto3==1.37.8
botocore==1.37.8
brotli==1.1.0
brotlicffi==1.1.0.0
cassio==0.1.10
cchardet==2.1.7
checks==0.2
chromadb==0.6.3
clarifai_grpc==11.1.3
clickhouse_connect==0.8.15
cloudpathlib==0.21.0
cloudpickle==3.1.1
comet_llm==2.2.7
ConfigParser==7.1.0
confluent_kafka==2.8.2
contextlib2==21.6.0
cryptography==44.0.2
cudf==0.6.1.post1
curio==1.6
cx_Oracle==8.3.0
cycler==0.12.1
Cython==3.0.12
dask_expr==2.0.0
datadog_api_client==2.32.0
deepeval==2.5.1
defusedxml==0.7.1
dgml_utils==0.3.4
diffusers==0.32.2
dingodb==0.0.18
doctran==0.0.14
docutils==0.21.2
docx2txt==0.8
dria==0.0.117
dynamodb_encryption_sdk==3.3.0
e2b==1.1.0
elevenlabs==1.52.0
email_validator==2.2.0
esprima==4.0.1
eval_type_backport==0.2.2
exceptiongroup==1.2.2
extract_msg==0.53.1
fake_useragent==2.0.3
Faker==36.2.2
faster_whisper==1.1.1
fastparquet==2024.11.0
feedparser==6.0.11
firebase_admin==6.6.0
fitz==0.0.1.dev2
flashrank==0.2.10
flytekit==1.15.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2025.2.0
fuzzysearch==0.7.3
fuzzywuzzy==0.18.0
geopandas==1.0.1
gitdb_speedups==0.1.0
gliner_spacy==0.0.11
glirel==1.0.1
google_api_python_client==2.163.0
google_auth_oauthlib==1.2.1
googlemaps==4.10.0
gptcache==0.1.44
gpudb==7.2.2.7
gql==3.5.2
gradientai==1.13.1
grandalf==0.8
grpc==1.0.0
guardrails==2.0.0
gunicorn==23.0.0
h2==4.2.0
h5py==3.13.0
hdbcli==2.23.27
hologres_vector==0.0.10
html5lib==1.1
HTMLParser==0.0.2
hypothesis==6.127.9
ibis==3.3.0
ibm_watsonx_ai==1.2.10
importlib_metadata==8.0.0
importlib_resources==6.5.2
infinity_client==0.0.75
infinity_emb==0.0.75
InstructorEmbedding==1.0.1
intel_extension_for_transformers==1.4.2
ipython==9.0.0
ipywidgets==8.1.5
isoduration==20.11.0
jaguardb_http_client==3.4.3
javelin_sdk==0.2.29
jnius==1.1.0
joblib==1.4.2
JPype1==1.5.2
jq==1.8.0
json_repair==0.39.1
jsonformer==0.12.0
kdbai_client==1.6.0
keybert==0.9.0
keyring==25.6.0
label_studio_sdk==1.0.10
langchain_anthropic==0.3.9
langchain_astradb==0.5.3
langchain_aws==0.2.15
langchain_chroma==0.2.2
langchain_cohere==0.4.2
langchain_deepseek==0.1.2
langchain_elasticsearch==0.3.2
langchain_fireworks==0.2.7
langchain_google_genai==2.0.11
langchain_google_vertexai==2.0.14
langchain_groq==0.2.4
langchain_huggingface==0.1.2
langchain_ibm==0.3.6
langchain_mistralai==0.2.7
langchain_mongodb==0.5.0
langchain_neo4j==0.4.0
langchain_nvidia_ai_endpoints==0.3.9
langchain_ollama==0.2.3
langchain_pinecone==0.2.3
langchain_postgres==0.0.13
langchain_qdrant==0.2.0
langchain_together==0.3.0
langchain_weaviate==0.0.4
langchain_xai==0.2.1
langchainhub==0.1.21
langsmith_pyo3==0.1.0rc5
lark==1.2.2
laser_encoders==0.0.2
librosa==0.10.2.post1
listparser==0.20
llmlingua==0.2.2
llmonitor==0.0.51
lockfile==0.12.2
lorax==0.94.86
lxml==5.3.1
manticoresearch==7.0.0
mask==1.0.0
matplotlib==3.10.1
mediawikiapi==1.2
metal_sdk==2.5.1
mlx_lm==0.21.5
modelscope==1.23.2
modin==0.32.0
motor==3.7.0
msal==1.31.1
mtrand==0.1
mwparserfromhell==0.6.6
mwxml==0.3.6
nest_asyncio==1.6.0
newspaper==0.1.0.7
nlu==5.4.1
nomic==3.4.1
nucliadb_models==6.3.1.post3546
nucliadb_protos==6.3.1.post3546
numexpr==2.10.2
O365==2.1.0
objgraph==3.6.2
obs==0.0.0
oci==2.147.0
odfpy==1.4.1
odps==3.5.1
olefile==0.47
openapi_pydantic==0.5.1
openpyxl==3.1.5
optimum==1.24.0
outcome==1.3.0.post0
pdf2image==1.17.0
pdfminer==20191125
pdfplumber==0.11.5
pexpect==4.9.0
pickle5==0.0.12
pinecone_text==0.9.0
pkgutil_resolve_name==1.3.10
plotly==6.0.0
polars==1.24.0
praw==7.8.1
presidio_analyzer==2.2.357
presidio_anonymizer==2.2.357
promptlayer==1.0.41
psutil==7.0.0
psychicapi==0.8.4
pyairtable==3.0.2
pycares==4.5.0
pycryptodome==3.21.0
pycurl==7.45.6
pydub==0.25.1
pyepsilla==0.3.14
pygraphviz==1.14
PyInstaller==6.12.0
PyJWT==2.10.1
pymemcache==4.0.0
pymilvus==2.5.5
pymongo==4.11.2
pymupdf==1.25.3
pyodide==0.0.2
pyOpenSSL==25.0.0
pyowm==3.3.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperf==2.9.0
pyppeteer==2.0.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.8.1
PySide6==6.8.2.1
pyspark==3.5.5
pysqlcipher3==1.2.0
pysrt==1.1.2
pytesseract==0.3.13
pytest==8.3.4
python-decouple==3.8
python_calamine==0.3.1
pyTigerGraph==1.8.4
pytube==15.0.0
pywin32==308
pyxlsb==1.0.10
qcloud_cos==3.3.6
qdrant_client==1.13.3
qianfan==0.4.12.3
qtpy==2.4.3
railroad==0.5.0
rank_bm25==0.2.2
rank_llm==0.21.0
rapidfuzz==3.12.2
rapidocr_onnxruntime==1.4.4
rdflib==7.1.3
rellm==0.0.5
reportlab==4.3.1
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rizaio==0.8.0
rockset==2.1.2
rspace_client==2.6.1
runhouse==0.0.41
s3fs==2025.2.0
scipy==1.15.2
scipy_doctest==1.6
scrapingant_client==2.1.0
selenium==4.29.0
semantic_version==2.10.0
sets==0.3.2
setuptools==75.8.2
setuptools_scm==8.2.0
simplejson==3.20.1
simsimd==6.2.1
slack_sdk==3.34.0
socksio==1.0.0
sodapy==2.2.0
speechkit==2.2.3
Sphinx==8.2.3
sqlcipher3==0.5.4
sqlframe==3.23.0
sqlite_vec==0.1.6
sqlite_vss==0.1.2
sseclient==0.0.27
stackapi==0.3.1
steamship==2.17.34
steamspypi==1.1.1
svglib==1.5.1
sympy==1.13.3
tables==3.10.2
takeoff_client==0.6.0
telethon==1.39.0
tensorflow_text==2.18.1
text_generation==0.7.0
textractor==0.1.2
thirdai==0.9.27
threadpoolctl==3.5.0
tigrisdb==1.0.0b6
timescale_vector==0.0.7
tokenizers==0.21.0
torch_npu==2.4.0.post2
traitlets==5.14.3
tree_sitter==0.24.0
tree_sitter_languages==1.10.2
trubrics==1.8.3
truststore==0.10.1
tweepy==4.15.0
upstash_ratelimit==1.1.0
upstash_vector==0.8.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvloop==0.21.0
vearch_cluster==0.0.2
vegafusion==2.0.2
vowpal_wabbit_next==0.7.0
wcwidth==0.2.13
webcolors==24.11.1
websockets==15.0.1
whylogs==1.6.4
wikibase_rest_api_client==0.2.2
wolframalpha==5.1.3
writerai==4.0.1
xarray==2025.1.2
xinference_client==1.3.0.post2
xlrd==2.0.1
xlsxwriter==3.2.2
xmlrpclib==1.0.1
xmltodict==0.14.2
yfinance==0.2.54
youtube_search==2.1.2
youtube_transcript_api==0.6.3
yt_dlp==2025.2.19
zep_python==2.0.2
